.registerForm {
  margin: auto;
  max-width: 420px;
}
.loginFormForgot {
  float: right;
}
.ant-col-rtl .loginFormForgot {
  float: left;
}
.registerFormButton {
  width: 100%;
}

.loginContainer {
}

.registerFormWrapper {
 background-color: white;
}
