.registerForm {
  max-width: 500px;
  margin: auto;
}
.loginFormForgot {
  float: right;
}
.ant-col-rtl .loginFormForgot {
  float: left;
}
.loginFormButton {
  width: 100%;
}

.loginContainer {
}

.registerFormWrapper {
  display: flex;
  height: 100vh;
  width: 100vw;
  margin: 0;
}
